.logo {
  /* width: 120px; */
  height: 31px; 
  margin: 0px 24px 0px 0;
  transform: rotateY(180deg);
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #4a4a48;
}

.ant-menu-vertical{
background-color:  #4a4a48 !important;
}

.ant-menu-item-selected {
  /* background-color: #D3D3D3 !important; */
  font-weight: bold;
}

.ant-menu-submenu-title {
  background-color:  #4a4a48 !important;
  font-weight: bold !important;
}

.ant-menu-submenu-title-selected {
  background-color: #4a4a48 !important;
  font-weight: bold !important;
}

.ant-menu-submenu-title-selected:active {
  /* background-color: #D3D3D3 !important; */
  font-weight: bold !important;
}

.ant-menu-item {
  cursor: pointer;  
  font-weight: bold;
}

/* .ant-menu-submenu {
  cursor: pointer;  
  font-weight: bold !important;
} */

.ant-layout-header {
    display: flex !important;
    justify-content: space-between;
}



.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {

  /* background-color: #D3D3D3 !important; */
  font-weight: bold !important;
  color: #D3D3D3 !important;
}