.modalButton{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
    align-content: stretch;
}


.anticon {
    color:#BEBEBE;
    
}

a{
    color:#BEBEBE!important 
}